<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>DBpediaRelationExtractor: Qanary Service Status page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>DBpediaRelationExtractor</h1>
    <p th:text="'Hello World, this is my first Qanary service!'" />
    <!-- 
	make a statement about the purpose of your component here
    //-->
</body>
</html>
