<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>GeoSpatial RelationDetection: Qanary Service Status page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>GeoSpatial RelationDetection</h1>
    <p th:text="'Hello World, this is my first Qanary service!'" />
	the component identifies a geospatial relation within a question
</body>
</html>
