<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Geospatial ConceptIdentifier: Qanary Service Status page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>GeoSpatial ConceptIdentifier</h1>
    <p th:text="'This component identifies geospatial concepts within a user questions.'" />
</body>
</html>
